@import '../style/color.scss';
body{
  height: 100%;
}
*{
  margin:0;
  padding:0;
}

  #app {
    height: 100%;
    font-size:16px;
  }
  .margin-left-8{
    margin-left:8px;
  }
  .margin-left-16{
    margin-left:16px;
  }
  .margin-right-8{
    margin-right:8px;
  }
  .margin-right-16{
    margin-right: 16px;
  }
  .margin-bottom-32{
  margin-bottom:32px
  }
  .margin-bottom-16{
    margin-bottom:16px
    }
  #app{
    background:$background
  }
.el-menu {
  background:#001529;
  .el-sub-menu__title{
    color:rgb(240, 234, 234) 
  }
  .el-menu-item{
    color:white
  }
  .el-menu-item:hover{
    background:#2f3f85
  }
  .el-menu-item.is-active{
 background:#1d64cd;
 
  }
  .el-sub-menu__title:hover{
    background:#6956bd
    
  }
}